.button {
  cursor: pointer;
  margin: 60px;
  width: 200px;
  height: 100px;
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 6px grey;
  transition: 1s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  transform: translate(-10px, -10px);
  background-color: grey;
  color: black;
  box-shadow: 10px 10px 2px;
  transition: transform 1s, box-shadow 4s;
}

.button:active {
  transform: translate(-5px, -5px);

  box-shadow: 5px 5px 2px;
  transition: 0.1s;
}
