#mediaScreen {
  width: 700px;
  height: 300px;
  background-color: lightblue;

  display: flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
}
.box {
  width: 60px;
  aspect-ratio: 1;
  background-color: red;
  font-size: 6px;
}

@media screen and (max-width: 400px) {
  #mediaScreen {
    background-color: black;
    width: 400px;
    aspect-ratio: 16/9;
    height: auto;

    flex-direction: column;
  }
}
